<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="/images/favicon.svg">
  <link rel="stylesheet" href="/stylesheets/momentum-ui-icons.min.css">
  <link rel="stylesheet" href="/stylesheets/momentum-ui.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/card-style.css' />
  <link rel='stylesheet' href='/stylesheets/table.css' />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<body>
  <%- include('./components/top-bar.ejs') %>

  <div style="width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: space-evenly;">
    <div class="show-grid">
      <div class="row">
        <div class="small-9 small-centered columns">
          <article class="card" style="margin-bottom: 0%;">
            <div class="card-content" style="align-items: center;">
              <i class="icon icon-launch_32"></i>
              <h2>Restore Showroom to default</h2>
              <div class="docs-example docs-example--spacing">
                <button id="restoreShowroomToDefaultBtn" type="submit" class="md-button md-button--orange">Load Default
                  Template</button>
              </div>
            </div>
          </article>
        </div>
      </div>

      <div class="row">
        <div class="small-6 small-centered columns">
          <article style="margin-bottom: 0%;">
            <div class="card-content" style="align-items: center;">
              <i class="icon icon-activities_16"></i>
              <h2>Previous Template</h2>
            </div>
          </article>
          <div style="overflow-y: scroll; max-height:400px;">
            <% if(templates.length > 0) {%>
              <% for (template of templates) { %>
              <article class="card" style="margin-bottom: 0%; position:relative;">
                <div class="card-content" style="align-items: center;">
                  <form id="deleteTemplateForm" method="GET" action="deleteTemplate/<%= template._id%>">
                    <button type="submit">
                      <i onmouseover="this.style.color='#FF0000';" onmouseout="this.style.color='';"
                      class="icon icon-delete_24" style="position:absolute; top:0; right:0; padding: 1%; cursor: pointer;"></i>
                    </button>
                  </form>
                  <i class="icon icon-ucm-cloud_32"></i>
                  <h2><%= template.name %></h2>
                  <p style="margin-bottom: 0.5em;">created on <%= template.date.toLocaleString('en-GB') %></p>
                  <div class="docs-example docs-example--spacing">
                    <button type="button" class="md-button md-button--orange load-template-btn"
                      data-title="<%= template.name %>" data-description="<%= template.description %>" 
                      data-template_id="<%= template._id %>" 
                      data-devices="<%= template.involvedDevices.map(e => e.name) %>">Load Template</button>
                  </div>
                </div>
              </article>
              <% } %>
            <% } else { %>
              <h3 style="text-align: center;">None</h3>
            <% } %>

          </div>
        </div>
      </div>

    </div>

    <div class="show-grid">
      <div class="row">
        <div class="small-9 small-centered columns">
          <article class="card" style="margin-bottom: 0%;">
            <div class="card-content" style="align-items: center;">
              <i class="icon icon-file-zip_32"></i>
              <h2>Create a new Template</h2>
              <div class="docs-example docs-example--spacing">
                <form action="/advanced" method="GET">
                  <button type="submit" class="md-button md-button--orange">Create New Template</button>
                </form>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>



    <div id="load-template-modal" class="md-modal__backdrop fade in" style="display: none;">
      <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--large in" aria-labelledby="modal5">
        <div class="md-modal__content">
          <div class="md-modal__flex-container">
            <div class="md-modal__header">
              <span class="md-modal__title" id="load-template-modal-title">Title Here</span>
              <span style="flex-direction: column;" class="md-modal__message" id="load-template-modal-msg"><i
                  class="icon icon-warning_20"></i>The following devices will be affected :
                <ul id="load-template-modal-list">
                </ul>
              </span>
              <button class="md-close md-modal__close close-load-template-modal"></button>
            </div>
            <div class="md-modal__body">
              <form id="loadTemplateForm" method="GET" action="/loadTemplate"
                style="display: flex;justify-content: center;">
                <div class="md-input-group medium-6 columns">
                  <label class="md-label" for="textArea">Template Description</label>
                  <textarea class="md-input" id="template-description" name="template-description" rows="10"
                    placeholder="Description Text" readonly></textarea>
                </div>
              </form>
            </div>
            <div class="md-modal__footer">
              <button class="md-button md-button--36 md-button--default close-load-template-modal" alt="Close Modal"
                type="button" aria-label="Close Modal">
                <span class="md-button__children" style="opacity: 1;">Cancel</span>
              </button>
              <button class="md-button md-button--36 md-button--orange" alt="Submit Form" type="submit"
                form="loadTemplateForm" aria-label="Submit Form">
                <span class="md-button__children" style="opacity: 1;">Load</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div id="confirmation-modal" class="md-modal__backdrop fade in" style="display: none;">
      <div role="dialog" id="react-aria-modal-dialog" class="md-modal md-modal--dialog in" aria-labelledby="modalDialog"
        tabindex="-1">
        <div class="md-modal__content">
          <div class="md-modal__flex-container">
            <div class="md-modal__header">
              <span class="md-modal__title">Warning <i class="icon icon-warning_20"></i></span>
              <button class="md-close md-modal__close"></button>
            </div>
            <% if (backupedDevices.length > 0) { %>
            <div class="md-modal__body"><span>The following devices will be affected :
                <ul>
                  <% for (device of backupedDevices) { %>
                  <li><%= device.name %></li>
                  <% } %>
                </ul>
              </span></div>
            <% } else { %>
            <div class="md-modal__body"><span>No device has been backed up...</span></div>
            <% } %>

            <div class="md-modal__footer">
              <button id="close-confirmation" class="md-button md-button--36 md-button--default" alt="Close Modal"
                type="button" aria-label="Close Modal" tabindex="0">
                <span class="md-button__children" style="opacity: 1;">Cancel</span>
              </button>
              <% if (backupedDevices.length > 0) { %>
              <!-- <form method="GET" action="/restoreShowroomToDefault"> -->
              <button id="reset-modal-btn" class="md-button md-button--36 md-button--red" alt="Submit Form"
                type="button" aria-label="Submit Form" tabindex="0">
                <span class="md-button__children" style="opacity: 1;">Confirm</span>
                <!-- </button> -->
                </form>
                <% } %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="notification" class="notification" hidden>
      <div class="md-alert md-alert--success">
        <div class="md-alert__icon"></div>
        <div class="md-alert__content">
          <div id="notification-title" class="md-alert__title">Title goes here</div>
          <div id="notification-msg" class="md-alert__message">
            Success text here. Lorem ipsum dolor sit amet, consectetur.
          </div>
        </div>
        <div class="md-alert__button">
          <button id="remove-notification" type="button" class="md-button md-button--circle md-button--large">
            <span class="md-button__children icon icon-cancel_14"></span>
          </button>
        </div>
      </div>
    </div>
    <%- include('./components/loader.ejs') %>
  </div>

</body>

<script>
  $(document).ready(function () {
    var timer = null;

    function showNotification(type, title, msg) {
      //remove class
      $("#notification").find(">:first-child").removeClass("md-alert--success");
      $("#notification").find(">:first-child").removeClass("md-alert--error");

      //remove previous notification
      $("#notification").hide();

      //add specified class
      $("#notification").find(">:first-child").addClass(type);
      $("#notification-title").html(title);
      $("#notification-msg").html(msg);
      $("#notification").show('slow');
      if (!(timer === null)) {
        clearTimeout(timer);
        timeout = null;
      }
      timer = setTimeout(() => {
        $("#notification").hide('slow');
      }, 5000);
    }

    $('.load-template-btn').on('click', function (e) {
      var title = $(this).data('title');
      var description = $(this).data('description');
      var templateId = $(this).data('template_id');
      var devices = $(this).data('devices').split(',')

      var items = [];
      $(devices).each(function (index, element) {
        items.push($('<li/>').text(element));
      });
      $('#load-template-modal-list').empty()
      $('#load-template-modal-list').append.apply($('#load-template-modal-list'), items);
      $('#loadTemplateForm').attr('action', `/loadTemplate/${templateId}`);

      $("#load-template-modal-title").text(title);
      $("#template-description").val(description);
      $("#load-template-modal").show();
    });

    $(".close-load-template-modal").click(function () {
      $("#load-template-modal").hide();
    });

    $("#loadTemplateForm").on("submit", function (e) {
      var form = $(this)
      e.preventDefault();
      var url = form.attr('action');
      var method = form.attr('method');
      $.ajax({
          type: method,
          url: url
        })
        .done(
          function (response) {
            if (response.code === "204") {
              showNotification("md-alert--success", "Success", "The template has been loaded")
            } else if (response.code === "500") {
              showNotification("md-alert--error", "Error", "error : " + response.msg)
            }
          }
        );
      $("#load-template-modal").hide();
    });

    $(document).on("submit", '#deleteTemplateForm', function (e) {
      if (confirm('Do you really want to delete this template?')) {
        e.preventDefault();
        var form = $(this)
        var url = form.attr('action');
        $.ajax({
            type: "GET",
            url: url
        })
          .done(
            function (response) {
              if (response.code === "204") {
                showNotification("md-alert--success", "Success", "the template has been deleted")
                form.closest('.card').remove();
              } else if (response.code === "500") {
                showNotification("md-alert--error", "Error", "error : " + response.msg)
              }
            }
          );
      }
    });

    /** restore Showroom to default state MODAL FUNCTIONS **/

    $("#restoreShowroomToDefaultBtn").click(function () {
      $("#confirmation-modal").show();
    });

    $("#close-confirmation").on("click", function () {
      $("#confirmation-modal").hide();
    });

    $("#reset-modal-btn").on("click", function () {
      $.ajax({
          type: "GET",
          url: "/restoreShowroomToDefault",
        })
        .done(
          function (response) {
            if (response.code === "204") {
              showNotification("md-alert--success", "Success", "Showroom restored to default state")
            } else if (response.code === "500") {
              showNotification("md-alert--error", "Error", "error : " + response.msg)
            }
          }
        );
      $("#confirmation-modal").hide();
    });

    /** END for MODAL FUNCTIONS **/

  });
</script>